.app{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 237, 237);
    height: 100vh;
}
.app__body{
    width: 100rem;
    height: 55rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.685);
    border: 2px red solid;
}
.app__drawer{
    width: 30%;
    border: 1px solid yellow;
}
.app__chat{
    border: 1px solid blue;
    width: 70%;
}